@font-face {
    font-family: "Digi";
    src: url('./fonts/DS-DIGI.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
}

.digital-text {
    font-family: "Digi", serif; 
}

.text-red {
    color: red; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
    background-color: black; 
}

#date {
    font-size: 3.5rem;
    text-align: center;
}

.big-text {
    font-size: 15rem; 
}

.circle {
    display: inline-block; 
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 1rem;
    border: 1px solid rgba(125,125, 125, 0.6); 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.am {
    background-color: rgba(125,125, 125, 0.6);
}

.pm {
    background-color: red; 
}

.big-text * {
    font-size: inherit; 
}